<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Add a comment to the <i>tweet</i> below</h3>
  <blockquote>
    <h4><%= @tweet.tweets %></h4>
    <small><i>by&nbsp</i><%= @tweet.user.email %></small>
  </blockquote> 
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, size: "60x4", :placeholder => "Enter your comments here" %>
  </div>
  <div class="actions">
    <!-- need to use a hidden form field to store the tweet id and pass it on with the 
         submit button -->
    <%= f.hidden_field :tweet_id, value: @tweet_id %>
    <%= f.submit :class => "btn btn-default"%>
  </div>
<% end %>

