<p id="notice"><%= notice %></p>

<blockquote>
  <h2> <%= @tweet.tweets %> </h2>
  <small><i>by&nbsp</i> <%= @tweet.user.email %></small>
</blockquote>

<% if @num_comments != 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tweet ID</th>
      <th>User ID</th>
      <th>Comment text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.tweet_id %></td>
        <td><%= comment.user_id %></td>
        <td><%= comment.comments %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
	<p> You don't have any comments </p>
	<%= link_to "Add a comment", new_comment_path(:tweet_id => @tweet.id), :class => "btn btn-default" %>
<%end%>




