<div class="container"> 
  <div class="row">
    <div class="col-md-4">   
      <div>
        <h3 id="profile_header">User Profile</h3><br>
        <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQS7SpTArHpWhlhvR0UraYiYtj-YHnP7fdpZAQRuFd8kzeCjUG7") %>
        <br>
        <p class="profile_content"><b>Name: &nbsp</b> <%= @user.first_name %> <%= @user.last_name %> </p>
        <p class="profile_content"><b>Photo url: &nbsp</b> <%= @user.photo_url %> </p>
        <p class="profile_content"><b>Twitter handle: &nbsp </b> @<%= @user.twitter_handle %> </p>
        <p class="profile_content"><b>Email: </b> &nbsp<%= @user.email %> </p>
      </div>
    </div> 
    
    <div class="col-md-8">
      <h3 id="profile_header_left">Recent Tweets</h3><br>

      <table class="table table-striped">
        <thead>
        </thead>

        <tbody>
          <% @tweets.each do |tweet| %>
            <tr>
              <td>
                <%= tweet.tweets %>  <i> | &nbsp<%= tweet.comments.count %> comments</i>
              </td> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>



