<h3>Current User Profile</h3>
<div id="profile_pic">
  <%= image_tag("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQS7SpTArHpWhlhvR0UraYiYtj-YHnP7fdpZAQRuFd8kzeCjUG7") %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>First name</th>   
      <th>Last name</th>
      <th>Photo url</th>
      <th>Twitter handle</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.photo_url %></td>
        <td><%= @user.twitter_handle %></td>
        <td><%= @user.email %></td>      
      </tr>
  </tbody>
</table>

<br>

<h3>Most recent tweets</h3>

<table class="table">
  <thead>
    <tr>
      <th>Tweet ID</th>
      <th>Tweets</th> 
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.tweets %> (<%= @comments.count %> comments)</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<%= link_to 'New User', new_user_path %>


